Form {
    max-width: 450px;
}

html {
    overflow: auto;
}

html,
body,
iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
}
  
iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg-green1 {
    background-color: #E9F3ED!important;
}

.bg-green2 {
    background-color: #24794B!important;
}

.bg-green3 {
    background-color: #07180F!important;
}

.border-green3 {
    border-color: #07180F!important;
}

.border-green2 {
    border-color: #24794B!important;
}

.text-green1 {
    color: #E9F3ED!important;
}

.text-green2 {
    color: #24794B!important;
}

.text-green3 {
    color: #07180F!important;
}